.info-select{
    padding: 2px;

    > .inner{

        > .table{
            width: 100%;
            display: table;

            > .row {
                display: table-row;

                > .cell {
                    display: table-cell;
                    padding: 3px;
                }

                .info-container {
                    display: inline-block;
                    width: 32px;
                    .info-button {
                        .content {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
