<div class="inner">
    <div class="table">
        <div class="row">
            <div class="cell select-container">
                <select class="info-select-select"></select>
            </div>

            <div class="cell info-container">
                <a href="javascript:{}" class="info-button">info
                    <div class="content">
                        <ul class="info-select-info-list">
                        </ul>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
